<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button (click)="navigationTo('dashboard')">Dashboard</button>
  <button (click)="navigationTo('home')">Home</button>
  <button (click)="navigationTo('login')">Login</button>
  <button (click)="navigationTo('register')">Register</button>
</div>
<div>
  <p>Default currency:</p>
  <select name="currency_default" id="">
    <option *ngFor="let currency of Currencies" [value]="currency.code">{{ currency.code }} - {{ currency.name}}</option>
  </select>
</div>